.article__ {
  &image {
    width: 200px;
  }
  &wrapper {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 15px 5px;
    padding: 10px 5px;
    background-color: whitesmoke;
    border-radius: 10px;
  }
}
