.tabs__wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tab {
  cursor: pointer;
  font-size: 1.4rem;
  background-color: whitesmoke;
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;

  &--selected {
    background-color: rgb(137, 135, 135);
    border-bottom: none;
  }
}

.tab-content__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(137, 135, 135);
}
