.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
